* {
  font-family: "Noto Sans", sans-serif, "Noto Sans TC", "Noto Serif HK", serif;
}
body {
  background: url(/images/main-pic/background.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% auto;
  background-color: #4d593e;
}
.chat-btn {
  width: 80px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  animation: breath 2.5s ease-in-out infinite;
  z-index: 1;
}
@keyframes breath {
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.96);
  }
  90% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.chat-btn a img {
  width: 100%;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  animation: animation_puni-data-v-9797c524 2s infinite running;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animation_puni-data-v-9797c524;
}

/* header */
.header {
  /* outline: 1px solid #fa0; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background-color: #ccc; */
  /* position: sticky; */
  top: 0;
  /* outline: 1px solid #fa0; */
  align-items: center;
  z-index: 5;
}
.logo img {
  vertical-align: top;
  width: 100px;
  /* outline: 1px solid #fa0; */
}
.main-nav a {
  display: block;
  padding: 10px;
  transform: translateY(0px);
  transition: 0.3s;
}

.main-nav a:hover {
  transform: translateY(-10px);
}
.main-nav a:after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -2.5px;
  height: 0;
  border-bottom: 2px solid #8a7867;
  transition: 0.3s;
}
.main-nav a:hover:after {
  left: 10px;
  right: 10px;
}

.nav-icon {
  display: block;
  align-items: center;
  right: 20px;
  /* outline: 1px solid #fa0; */
  /* padding: 10px; */
}
/* .nav-icon .shop-icon {
        padding-bottom: 5px;
    } */
.nav-icon img {
  width: 30px;
  margin-left: 20px;
  /* outline: 1px solid #fa0; */
}
#menu-switch {
  display: none;
}
/* goal-banner */
.goal-banner {
  /* outline: 1px solid #fa0; */
  width: 1530px;
  height: 400px;
  position: relative;
}
.goal-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.goal-banner .banner-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  height: 160px;
  top: 200px;
  margin-left: 400px;
}
.goal-banner .banner-title h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  letter-spacing: 0.6px;
  color: #346c47;
}
.goal-banner .banner-title h2.title-btm {
  margin-left: 120px;
}
.goal-mainpage {
  /* outline: 1px solid #fa0; */
  width: 100%;
}
.goal-mainpage .goal-title {
  width: 200px;
  margin: auto;
  width: 755px;
  height: 62px;
  left: 358px;
  top: 647px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #346c47;
}
.goal-wrap {
  margin: auto;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}
.item {
  /* outline: 1px solid #fa0; */
  width: 350px;
  height: 400px;
  margin: 10px;
  padding: 40px 0;
  background: #eedad2;
  border-radius: 5px;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
}
.item.item-even {
  background-color: #bfdbc8;
}
.item .pic {
  /* outline: 1px solid #fa0; */
  width: 320px;
  height: 280px;
}
.item .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 0px 200px 200px 0px;
  /* vertical-align: top; */
}
.item .txt {
  /* outline: 1px solid #fa0; */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.item .txt p {
  width: 200px;
  height: 39px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #a08484;
}
/* footer */

.main-footer {
  width: 100%;
  padding: 0 0 50px 0;
  background-image: url(/images/main-pic/background2.jpg);
}

.main-footer .footer-icons {
  /* outline: 1px solid #fa0;  */
  width: 250px;
  margin: auto;
  display: flex;
  gap: 30px;
  padding: 40px 0;
}
.main-footer .footer-icons img {
  width: 40px;
  vertical-align: middle;
  opacity: 50%;
}

.main-footer .container {
  /* outline: 1px solid #fa0;  */
  display: flex;
  width: 1200px;
  margin: auto;
}
.footer-item {
  width: 0;
  flex-grow: 1;
  margin: 0 20px;
}
.footer-item h4 {
  font-size: 24px;
  color: #fff;
  border-bottom: 1px dotted #fff;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
.footer-item nav {
  display: flex;
  flex-direction: column;
}

.footer-item nav a {
  color: #fff;
  line-height: 1.4;
  text-decoration: none;
  padding: 5px 0;
}

.footer-item nav a:hover {
  color: #ffd9c9;
}
.footer-subs {
  display: flex;
  flex-direction: column;
}
.footer-subs form {
  display: flex;
  width: 100%;
  margin: auto 0px;
}
.footer-subs input[type="text"],
.footer-subs input[type="submit"] {
  border: none;
  padding: 5px 10px;
}

.footer-subs input[type="text"] {
  width: 0;
  flex-grow: 1;
}
.footer-subs input[type="submit"] {
  color: #ffd9c9;
  background-color: #598969;
}

@media screen and (max-width: 767px) {
  .hb {
    width: 40px;
    height: 40px;
    background-color: #bcab8a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    /* outline: 1px solid #fa0; */
  }
  .nav-icon {
    display: block;
    align-items: center;
    right: 20px;
    /* outline: 1px solid #fa0; */
    position: absolute;
    right: 70px;
  }
  .main-nav {
    /* display: none; */
    position: absolute;
    background-color: rgb(215, 242, 205);
    width: 100%;
    left: -100%;
    top: 100%;
    opacity: 0;
    transition: opacity 1s 0s, left 0s 1s;
  }
  .hb span {
    width: 32px;
    height: 2px;
    background-color: #346c47;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(0deg);
    opacity: 1;
  }
  .hb span:nth-child(1) {
    top: 7px;
    transition: transform 1s 0s, top 1s 1s;
  }
  .hb span:nth-child(2) {
    top: 0;
    bottom: 0;
    transition: opacity 1s 2s;
  }
  .hb span:nth-child(3) {
    top: 31px;
    transition: transform 1s 0s, top 1s 1s;
  }

  #menu-switch:checked + .header .main-nav {
    /* display: block; */
    left: 0;
    opacity: 1;
    transition: opacity 1s;
  }
  #menu-switch:checked + .header .hb span:nth-child(2) {
    opacity: 0;
    transition: opacity 1s;
  }
  #menu-switch:checked + .header .hb span:nth-child(1) {
    top: 19px;
    transform: rotate(45deg);
    transition: top 1s 0s, transform 1s 1s;
  }
  #menu-switch:checked + .header .hb span:nth-child(3) {
    top: 19px;
    transform: rotate(-45deg);
    transition: top 1s 0s, transform 1s 1s;
  }
  .banner .banner-mainpic {
    position: relative;
    top: -70px;
    width: 700px;
  }
  .banner .banner-subpic {
    position: absolute;
    width: 700px;
    right: 0px;
    top: 300px;
  }
  .banner .banner-title {
    /* outline: 1px solid #fa0; */
    position: absolute;
    width: 265px;
    left: 20px;
    top: 200px;
    font-family: "Noto Sans";
  }
  .banner .banner-news {
    position: absolute;
    display: flex;
    /* /* outline: 1px solid #fa0; */
    letter-spacing: 0.05em;
    color: #598969;
    font-weight: 600;
  }
  .banner .banner-news a {
    text-decoration: none;
    color: #598969;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .hb {
    display: none;
  }
  .main-nav {
    display: flex;
    width: fit-content;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    gap: 32px;
    /* outline: 1px solid #fa0; */
  }
  .main-nav a {
    text-decoration: none;
    color: #bcab8a;
  }

  .nav-icon {
    display: flex;
    align-items: center;
    right: 20px;
    /* outline: 1px solid #fa0; */
  }
}
