

body {
    background: url(./main-pic/background.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    background-color: #4d593e;
    font-family: 'Noto Sans TC', 'Noto Sans', 'sans-serif', serif;
        }
    .chat-btn {
        width: 80px;
        position: fixed;
        right: 20px;
        bottom: 10px;
        animation: breath 2.5s ease-in-out infinite;
       
    }
    @keyframes breath {
      70% {
        transform: scale(1);
      }
      80% {
        transform: scale(0.96);
      }
      90% {
        transform: scale(1.08);
      }
      100% {
        transform: scale(1);
      }
    }
    
    
    .chat-btn a img {
        width: 100%;
        filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
        animation: animation_puni-data-v-9797c524 2s infinite running;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: animation_puni-data-v-9797c524;
    } 
    
    /* header */
        .header {
            /* outline: 1px solid #fa0; */
            display: flex;
            justify-content: space-between;
            position: sticky;
            padding: 10px;
            top: 0;
            align-items: center;
            z-index: 6;
        }
        .logo img{
            vertical-align: top;
            width: 100px;
            /* outline: 1px solid #fa0; */
        } 
        .main-nav a{
            display: block;
            padding: 10px;
            transform: translateY(0px);
	        transition: .3s
        }

        .main-nav a:hover{
            transform: translateY(-10px);
        }
        .main-nav a:after{
            content: '';
            position: absolute;
            left: 50%;
            right: 50%;
            bottom: -2.5px;
            height: 0;
            border-bottom: 2px solid #8A7867;
            transition: .3s;
        }
        .main-nav a:hover:after{
            left: 10px;
            right: 10px;
        }
    
    
        .nav-icon {
            display: block;
            align-items: center;
            right: 20px;
            /* outline: 1px solid #fa0; */
            /* padding: 10px; */
        }
        /* .nav-icon .shop-icon {
            padding-bottom: 5px;
        } */
        .nav-icon img {
            width: 30px;
            margin-left: 20px;
            /* outline: 1px solid #fa0; */
        }
        #menu-switch{
            display: none;
        }


    /* result-banner */
    .result-banner {
        /* outline: 1px solid #fa0; */
        width: 100%;
        height: 400px;
        position: relative;

    }
    .result-banner img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center center;

    }

    .result-banner .banner-title {
        outline: 1px solid #fa0;
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 50px;
        position: absolute;
        width: 500px;
        right: 0;
        top: 300px;
    }
    .result-banner .banner-title h1 {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 3rem;
        line-height: 80px;
        text-align: center;
        letter-spacing: -2.4px;
        color: #346C47;
    }
    
    /* main */
    .result-list {
        width: 100%;
        outline: 1px solid #fa0;
        margin: auto;
    }

    .result-list .list-title {
        margin: 20px;
    }
    .list-title h2 {
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1.2px;
        color: #6B6B6B;
        text-decoration: underline;
    }
    .result-list .items {
        outline: 1px solid #fa0;
        width: 80%;
        height: 40vh;
        margin: auto;
        padding: 20px 0;
        display: flex;
    } 
    .items .pic {
        /* outline: 1px solid #fa0; */
        width: 40vh;
        height: 40vh;
        border-radius: 20px;
        position: relative;
        overflow:hidden;
    }

    .items .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transform: scale(1,1);transition: all .5s ease-out;
    }

    .items .pic img:hover{
        transform:scale(1.2,1.2);
    }


    .items .pic .zoom {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 8px;
        top: 8px;
        background-color: #BCAB8A;
        border-radius: 20px;
       }
    .items .pic .zoom:hover {
        background-color: #FFDBCB;
       }
    
    .items .txt {
        outline: 1px solid #fa0;
        width: 70%;
        height: auto;
        padding-left: 10px;
    }
    .txt h3 {
        outline: 1px solid #fa0;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 25px;
        letter-spacing: 1.6px;
        color: #346C47;
    }
    .txt p {
        outline: 1px solid #fa0;
        width:60%;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2px;
        color: #6B6B6B;
        margin-left: 18px;
    }
    .items .price {
        outline: 1px solid #fa0;
        width: 20%;
        font-size: 24px;
        font-weight: 500;
        color: #598969;
        text-align: end;
        display: flex;
        align-items: flex-end;
    }
    .items .price span {
        font-size: 20px;
        height: auto;
    }

    @media screen and (max-width:1200px){

    }
    @media screen and (max-width:1024px){
        .result-list .items {
            width: 100%;
        }
        .items .txt p {
            width: 100%;
            margin-left: 0;
        }
    }
    @media screen and (max-width:768px){
        .result-banner .banner-title{
            width: 100%;
            top: 200px;
        }
        .result-banner .banner-title h1 {
            font-size: 2rem;
            line-height: 50px;
        }
      
        .result-list .items {
            flex-wrap: wrap;
            height: auto;
        }
        .items .pic {
            width: 80%;
            margin: auto;
        }
        .items .pic img {
            margin: auto    ;
        }
        .items .txt {
            margin-top: 10px;
            width: 100%;
            padding-left: 0;
        }
        .txt h3 {
            width: 100%;
            text-align: left;
            font-size: 1.5rem;
            letter-spacing: 1px;
            text-align: center;
        }
        .txt p {
            width: 80%;
            margin-left: 0;
            margin: auto;
            text-align: center;
            line-height: normal;
        }
        .items .price {
            width: 100%;
            justify-content: center;
            margin: 10px;
        }
    }



    /* result foot */
    
   .result-foot {
        /* outline: 1px solid #fa0; */
        width: 100%;
        background-color: #E8E2D3;
        height: 300px;  
        padding-top: 30px;      
    }
    .result-foot .wrap {
        outline: 1px solid #fa0;
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .result-foot .wrap h4 {
        font-size: 26px;
        line-height: 37px;
        color: #346C47;
        font-weight: 400;
    }

    .result-foot .wrap .go {
        /* outline: 1px solid #fa0; */
        width: 80%;
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: center;
    }
    .go img {
        width: 15vw;  
        animation: shake .7s linear alternate infinite;     
    }
      @keyframes shake {
        100% {
          transform: translateX(-30px);    
        }
      }
    
    .go a {
        width: 200px;
        height: 50px;
        text-decoration: none;
        font-size: 24px;
        color: #346C47;
        border-radius: 30px;
        border: 3px solid #346C47;
        text-align: center;
        line-height: 50px;
        letter-spacing: 0.6px;
        background-color: #D9D9D9;
        white-space: nowrap;
    }

    .go a:hover {
        color: #D9D9D9;
        background-color: #346C47;
    }

    @media screen and (max-width:1200px){

    }
    @media screen and (max-width:1024px){
    }
    @media screen and (max-width:768px){
        .result-foot .wrap .go {
            width: 100%;
            margin: 20px auto;
        }
    }
/* footer */

.main-footer {
    position: relative;
    width: 100%;
    padding: 0 0 50px 0;
    background-image: url(./main-pic/background2.jpg); 
}

.main-footer .footer-icons {
    /* outline: 1px solid #fa0;  */
    width: 20rem;
    margin: auto;
    display: flex;
    gap: 30px;
    padding: 40px 0;
    

}
.main-footer .footer-icons img {
    width: 50%;
    vertical-align: middle;
    opacity: 50%;
}

.main-footer .container{
    /* outline: 1px solid #fa0;  */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;

}
.footer-item{
    flex-grow: 1;
    margin: 10px 20px;
}
.footer-item h4{
    font-size: 24px;
    color: #fff;
    border-bottom: 1px dotted #fff;
    margin-bottom: .5em;
    padding-bottom: .5em;
}
.footer-item nav{
    display: flex;
    flex-direction: column;
}

.footer-item nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
}


.footer-item nav a:hover{
    color: #FFD9C9;
}
.footer-subs {
    display: flex;
    flex-direction: column;
}
.footer-subs form{
    display: flex;
    width: 100%;
    margin: auto 0px;
}
.footer-subs input[type="text"],
.footer-subs input[type="submit"]{
    border:none;
    padding: 5px 10px;
}

.footer-subs input[type="text"]{
    width: 0;
    flex-grow: 1;
}
.footer-subs input[type="submit"]{
    color: #FFD9C9;
    background-color: #598969; 
}
  





   








         
 /* nav rwd */
 @media screen and (max-width:768px) {
    .hb{
        width: 35px;
        height: 35px;
        background-color: #598969;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        border-radius: 30px;
        /* outline: 1px solid #fa0; */
    }

    .nav-icon {
        display: block;
        align-items: center;
        /* outline: 1px solid #fa0; */
        position: absolute;
        margin-right: 50px;
       
        


     }
    .main-nav{
        /* display: none; */
        position: absolute;
        background-color: #eae6e398;
        width: 100%;
        left: -100%;
        top: 50px;
        opacity: 0;
        transition: opacity 1s 0s,
                    left    0s 1s;
        z-index: 6;   
    }
    .main-nav a {
        text-decoration: none;
        color: #4d593e;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }

    .main-nav a:hover:after{
        border-bottom: 0;

    }
    .hb span{
      
        width: 23px;
        height: 1.5px;
        background-color: #BCAB8A;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(0deg);
        opacity: 1;
    }
    .hb span:nth-child(1){
        top: 8.75px;
        transition: transform 1s 0s, top 1s 1s;
    }
    .hb span:nth-child(2){
        top: 0;
        bottom: 0;
        transition: opacity 1s 2s;
    }
    .hb span:nth-child(3){
        top: 26.25px;
        transition: transform 1s 0s, top 1s 1s;
    }

    #menu-switch:checked + .header .main-nav{
        display: block;
        left: 0;
        opacity: 1;
        transition: opacity 1s;
    }
    #menu-switch:checked + .header .hb span:nth-child(2){
        opacity: 0;
        transition: opacity 1s;
    }
    #menu-switch:checked + .header .hb span:nth-child(1){
        top: 19px;
        transform: rotate(45deg);
        transition: top 1s 0s, transform 1s 1s;
    }
    #menu-switch:checked + .header .hb span:nth-child(3){
        top: 19px;
        transform: rotate(-45deg);
        transition: top 1s 0s, transform 1s 1s;
    }
    .banner .banner-pics .banner-mainpic {
        width: 200%;
        position: relative;
        top: 3%;
    }
    .banner .banner-pics .banner-subpic {
        width: 100%;

    }
 

}

@media screen and (min-width: 768px){
    .hb { display: none;}
    .main-nav{
        display: flex;
        width: fit-content;
        margin: auto;
        font-size: 16px;
        font-weight: 600;
        gap: 32px;
        /* outline: 1px solid #fa0; */
        
    }
    .main-nav a {
        text-decoration:none;
        color: #BCAB8A;
        
    }

    
    .main-nav a:hover:after{
        transition: .3s;
    }

    }


    .nav-icon {
    display: flex;
    align-items: center;
    right: 20px;
    /* outline: 1px solid #fa0; */
}
