body {
  background: url(./sub3-pic/sub3-bgp.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: 100% 100%;
  font-family: "Noto Sans TC", "Noto Sans", sans-serif, serif;
  scroll-behavior: smooth;
}
html,
body {
  scroll-behavior: smooth;
}
.chat-btn {
  width: 80px;
  position: fixed;
  right: 2%;
  bottom: 10px;
  animation: breath 2.5s ease-in-out infinite;
  z-index: 4;
}
@keyframes breath {
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.96);
  }
  90% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent;
  position: sticky;
  top: 0;
  margin-bottom: 20px;

  align-items: center;
  z-index: 5;
}
.logo img {
  vertical-align: top;
  width: 120px;
}
.main-nav a {
  display: block;
  padding: 10px;
  transform: translateY(0px);
  transition: 0.3s;
}

.main-nav a:hover {
  transform: translateY(-10px);
}
.main-nav a:after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -2.5px;
  height: 0;
  border-bottom: 2px solid #8a7867;
}
.main-nav a:hover:after {
  left: 10px;
  right: 10px;
}

.nav-icon {
  display: block;
  align-items: center;
  right: 20px;

  /* padding: 10px; */
}
/* .nav-icon .shop-icon {
        padding-bottom: 5px;
    } */
.nav-icon img {
  width: 30px;
  margin-left: 20px;
}
#menu-switch {
  display: none;
}

/* banner */

.banner {
  width: 100%;
  height: 450px;
}

.banner-area {
  background: url(./sub5-pic/chat-online.jpg) no-repeat;
  height: 450px;
  background-position: center center;
  display: flex;
  align-items: center;
}

.banner-txt {
  max-width: 768px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.banner-txt h1 {
  font-size: 40px;
  font-weight: 500;
  color: #346c47;
  line-height: 40px;
  letter-spacing: 1.2px;
}
.banner-txt p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #598969;
}

/* step1 */
.step1 {
  width: 100vw;
  margin: auto;
  margin-top: 3vw;
  display: block;
  text-align: center;
}
.step-title .deco1 {
  width: 50px;
  margin: auto;
}
.deco1 img {
  width: 100%;
  margin-bottom: 1vw;
}
.step-title h2 {
  font-size: 26px;
  font-weight: 600;
  color: #346c47;
  letter-spacing: 1.2px;
  line-height: 40px;
}
.step1 p {
  font-size: 18px;
  font-weight: 400;
  color: #8a7867;
  letter-spacing: 0.6px;
  margin: 20px 0;
  line-height: 30px;
}

.step1 ul {
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 3vw;
  z-index: 4;
}

.step1 ul li {
  width: 200px;
  z-index: 1;
}
.step1 ul li:nth-child(2) {
  margin-top: 30px;
}

.step1 ul li img {
  width: 100%;
  transition: filter 3s;
  transition: margin 0.3s, filter 1s;
}

.step1 ul li img:hover {
  filter: brightness(120%);
  margin-top: 2px;
}

.slide1 {
  width: 100vw;
  position: relative;
  top: -5vw;
}
.slide1 img {
  width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .step1 ul {
    justify-content: space-evenly;
    gap: 0;
  }
  .step1 ul li {
    width: 120px;
  }
  .step1 ul li:nth-child(2) {
    margin-top: 0;
  }
  .app .app-container {
    width: 100%;
  }
}

.app {
  background-color: #fce4d6;
  width: 100vw;
  margin: auto;
  position: relative;
  top: -5vw;
  padding-bottom: 5vh;
}
.app-container {
  width: 80vw;
  margin: auto;
}
.app-container .deco1 {
  width: 50px;
  margin: auto;
}
.app-container .deco1 img {
  width: 100%;
  margin-bottom: 1vw;
  margin-top: 5vw;
}
.app-container h3 {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #346c47;
  letter-spacing: 1.2px;
  line-height: 40px;
}
.app-container .app-txt {
  width: 90%;
  margin: auto;
}

.app-container p {
  font-size: 18px;
  font-weight: 400;
  color: #8a7867;
  letter-spacing: 0.6px;
  margin: 20px 0;
  line-height: 25px;
}

.app-container .app-dl {
  width: 100%;
  background-color: #fff;
  display: flex;
  border-radius: 30px;
}
.app-dl .appstore {
  margin: 1vw;
}

.app-dl .appstore h4 {
  font-size: 20px;
  margin-left: 1vw;
  color: #346c47;
  letter-spacing: 1.2px;
}
.app-dl-col {
  width: 50%;
}
.appstore ul {
  width: 80%;
  height: 80%;
  display: flex;
  margin: 1vw;
  justify-content: space-around;
}
.appstore ul li {
  width: 40%;
  height: 70%;
}

.appstore ul li img {
  width: 100%;
  height: 100%;
}

.app-dl .app-how {
  text-align: center;
}

.app-how img {
  width: 80%;
  line-height: 90%;
  vertical-align: middle;
  padding-top: 4%;
  border-radius: 10px;
  box-shadow: 0 5px 0 0 #8a8a8a;
  transition: transform 0.5s;
  transition: box-shadow 0.1s 0.05s;
}

.app-how img:hover {
  transform: translateY(5px);
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .app-container .app-dl {
    flex-wrap: wrap;
  }
  .app-dl .appstore {
    width: 90%;
    margin: auto;
    margin-top: 5px;
  }
  .app-dl .appstore h4 {
    text-align: center;
  }

  .app-dl-col {
    width: 90%;
    margin: auto;
  }
  .appstore ul {
    width: 100%;
    height: 100%;
  }
  .appstore ul li {
    width: 150px;
    height: 50px;
  }
  .app-dl .app-how {
    margin: auto;
    margin-bottom: 10px;
  }
}

.app-dl2 {
  margin-top: 7vh;
}

.line {
  width: 100%;
  height: 100%;
}

.line .line-icon {
  width: 50px;
  margin: auto;
  padding-top: 3vh;
}
.line-icon img {
  width: 100%;
}
.line h4 {
  text-align: center;
  font-size: 1.6rem;
  color: #346c47;
  letter-spacing: 1.2px;
  margin-top: 1vh;
  font-weight: 500;
}

.list-item {
  width: 80%;
  margin: auto;
  display: block;
  padding-bottom: 2vh;
}
.list-item .item {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  gap: 2vw;
  border: 6px solid #979797;
  margin: 3vh 0;
  border-radius: 10px;
}
.fade {
  opacity: 1;
}
.item .item_step {
  margin-left: -6px;
  width: 120px;
  height: 38px;
}
.item_step img {
  empty-cells: 100%;
  height: 100%;
}

.item h5 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #8a7867;
}

@media screen and (max-width: 768px) {
  .list-item {
    width: 90%;
  }
  .item .item_step {
    width: 100px;
    height: 30px;
    margin-left: -20px;
  }
}

/* program */
.program {
  width: 80%;
  margin: auto;
  padding-bottom: 60px;
}
.program-title {
  text-align: center;
  color: #346c47;
  font-size: 30px;
  margin-top: 30px;
}
.program-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.program-item {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  float: left;
  background: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  margin-bottom: 10px;
}
.program-item:hover,
.program-item.active {
  transform: scale(1.03);
  transition: all 0.3s;
  z-index: 2;
}
.program-item .details {
  padding: 20px;
  position: relative;
}

.program-item .image img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.program-item .image {
  position: relative;
  margin: 0;
  padding: 0;
}
.program-item .image figcaption {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
figcaption .caption {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
figcaption h3 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 20px;
  text-transform: uppercase;
}
figcaption p {
  color: white;
  font-size: 20px;
}
.details h4 {
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  color: #346c47;
}
.details h4:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.program-item:hover div.image figcaption {
  background: rgba(0, 0, 0, 0);
}
@media only screen and (min-width: 540px) {
  .program-item {
    display: block;
    width: calc(100% / 4);
  }
}
@media only screen and (min-width: 1024px) {
  .program-wrap {
    padding: 30px;
  }
}

/* phone */
.phone {
  width: 100%;
  background-color: #fff;
  position: relative;
  top: -5vw;
  padding: 4vh 0;
}
.phone .phone-container {
  width: 80%;
  margin: auto;
}

.phone-container .phone-icon {
  width: 50px;
  margin: auto;
}
.phone-icon img {
  width: 100%;
}

.phone-container h4 {
  text-align: center;
  font-size: 32px;
  color: #346c47;
  letter-spacing: 1.2px;
  margin-top: 1vh;
  font-weight: 500;
}

.phone-container p {
  font-size: 20px;
  font-weight: 400;
  color: #8a7867;
  letter-spacing: 0.6px;
  margin: 20px 0;
  line-height: 2.8vw;
  text-align: center;
}

.phone-container .number-time {
  width: 100%;
  display: flex;
}
.number-time .number {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.number-time .time {
  width: 50%;
}
.number-time .number h5 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  color: #346c47;
  letter-spacing: 1.2px;
}
.number-time .time img {
  width: 100%;
}

.phone ul {
  width: 80%;
  margin: auto;
  border: 4px dashed #979797;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  padding: 2vh 2vw;
  margin-top: 20px;
}
.phone ul li {
  font-size: 15px;
  line-height: 20px;
  color: #8a7867;
}

@media screen and (max-width: 768px) {
  .phone .phone-container {
    width: 100%;
  }
  .number-time {
    flex-wrap: wrap;
  }
  .number-time .number {
    width: 100%;
  }
  .number-time .number h5 {
    font-size: 1.3rem;
  }
  .number-time .time {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
  .phone ul {
    width: 98%;
  }
}

/* footer */

.main-footer {
  width: 100%;
  padding: 0 0 50px 0;
  background-image: url(./images/main-pic/background2.jpg);
}

.main-footer .footer-icons {
  /*   */
  width: 20rem;
  margin: auto;
  display: flex;
  gap: 30px;
  padding: 40px 0;
}
.main-footer .footer-icons img {
  width: 50%;
  vertical-align: middle;
  opacity: 50%;
}

.main-footer .container {
  /*   */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.footer-item {
  flex-grow: 1;
  margin: 10px 20px;
}
.footer-item h4 {
  font-size: 24px;
  color: #fff;
  border-bottom: 1px dotted #fff;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
.footer-item nav {
  display: flex;
  flex-direction: column;
}

.footer-item nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
}

.footer-item nav a:hover {
  color: #ffd9c9;
}
.footer-subs {
  display: flex;
  flex-direction: column;
}
.footer-subs form {
  display: flex;
  width: 100%;
  margin: auto 0px;
}
.footer-subs input[type="text"],
.footer-subs input[type="submit"] {
  border: none;
  padding: 5px 10px;
}

.footer-subs input[type="text"] {
  width: 0;
  flex-grow: 1;
}
.footer-subs input[type="submit"] {
  color: #ffd9c9;
  background-color: #598969;
}

/* nav rwd */
@media screen and (max-width: 768px) {
  .hb {
    width: 35px;
    height: 35px;
    background-color: #598969;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-radius: 30px;
    /*  */
  }

  .nav-icon {
    display: block;
    align-items: center;
    /*  */
    position: absolute;
    margin-right: 50px;
  }
  .main-nav {
    /* display: none; */
    position: absolute;
    background-color: #eae6e398;
    width: 100%;
    left: -100%;
    top: 100%;
    opacity: 0;
    transition: opacity 1s 0s, left 0s 1s;
    z-index: 6;
  }
  .main-nav a {
    text-decoration: none;
    color: #4d593e;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .main-nav a:hover:after {
    border-bottom: 0;
  }
  .hb span {
    width: 23px;
    height: 1.5px;
    background-color: #bcab8a;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(0deg);
    opacity: 1;
  }
  .hb span:nth-child(1) {
    top: 8.75px;
    transition: transform 1s 0s, top 1s 1s;
  }
  .hb span:nth-child(2) {
    top: 0;
    bottom: 0;
    transition: opacity 1s 2s;
  }
  .hb span:nth-child(3) {
    top: 26.25px;
    transition: transform 1s 0s, top 1s 1s;
  }

  #menu-switch:checked + .header .main-nav {
    display: block;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
  }
  #menu-switch:checked + .header .hb span:nth-child(2) {
    opacity: 0;
    transition: opacity 1s;
  }
  #menu-switch:checked + .header .hb span:nth-child(1) {
    top: 19px;
    transform: rotate(45deg);
    transition: top 1s 0s, transform 1s 1s;
  }
  #menu-switch:checked + .header .hb span:nth-child(3) {
    top: 19px;
    transform: rotate(-45deg);
    transition: top 1s 0s, transform 1s 1s;
  }
  .banner .banner-pics .banner-mainpic {
    width: 200%;
    position: relative;
    top: 3%;
  }
  .banner .banner-pics .banner-subpic {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hb {
    display: none;
  }
  .main-nav {
    display: flex;
    width: fit-content;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    gap: 32px;
    /*  */
  }
  .main-nav a {
    text-decoration: none;
    color: #bcab8a;
  }

  .main-nav a:hover:after {
    transition: 0.3s;
  }
}

.nav-icon {
  display: flex;
  align-items: center;
  right: 20px;
  /*  */
}
