body {
    background: url(./sub3-pic/sub3-bgp.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-size: 100% 100%;
    font-family: 'Noto Sans', 'Noto Sans TC', sans-serif, serif;
    }
    .chat-btn {
        width: 80px;
        position: fixed;
        right: 20px;
        bottom: 10px;
        animation: breath 2.5s ease-in-out infinite;
        z-index: 1;
       
    }
        @keyframes breath {
        70% {
            transform: scale(1);
        }
        80% {
            transform: scale(0.96);
        }
        90% {
            transform: scale(1.08);
        }
        100% {
            transform: scale(1);
        }
        }
    
    
    .chat-btn a img {
        width: 100%;
        filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.2));
        animation: animation_puni-data-v-9797c524 2s infinite running;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: animation_puni-data-v-9797c524;
    } 
    




/* header */
.header {
    /* outline: 1px solid #fa0; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* background-color: #ccc; */
    /* position: sticky; */
    top: 0;
    /* outline: 1px solid #fa0; */
    align-items: center;
    z-index: 5;
}
.logo img{
    vertical-align: top;
    width: 100px;
    /* outline: 1px solid #fa0; */
} 
.main-nav a{
    display: block;
    padding: 10px;
    transform: translateY(0px);
    transition: .3s
}

.main-nav a:hover{
    transform: translateY(-10px);
}
.main-nav a:after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -2.5px;
    height: 0;
    border-bottom: 2px solid #8A7867;
    transition: .3s;
}
.main-nav a:hover:after{
    left: 10px;
    right: 10px;
}

.nav-icon {
    display: block;
    align-items: center;
    right: 20px;
    /* outline: 1px solid #fa0; */
    /* padding: 10px; */
}
/* .nav-icon .shop-icon {
    padding-bottom: 5px;
} */
.nav-icon img {
    width: 30px;
    margin-left: 20px;
    /* outline: 1px solid #fa0; */
}
#menu-switch{
    display: none;
}

/* body */

/* columns */
.row.columns{
    align-items: flex-start;
    position: relative;
    padding: 40px 0;
    justify-content: space-around;
}
/* columns title */
.columns.title{
    padding-top: 70px;
}
.columns.title::after{
    content: '';
    position: absolute;
    background-image: url('../pics/background/bg_title_underline.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .8;
    top: 150px;
    left: -20px;
    width: 100%;
    height: 30px;
}
/* columns deco line */
.column_article{
    position: relative;
}
.column_article:hover::after, .column_article:hover::before {
    width: 48px;
    height: 48px;
    transition: .5s cubic-bezier(0.63, .57, 0.26, 0.99);
    opacity: 1;
}
.column_article::after{
    content: '';
    position: relative;
    width: 0vw;
    height: 0vh;
    bottom: -3vh;
    right: -1vw;
    border-bottom: 1px solid var(--fontcolor);
    border-right: 1px solid var(--fontcolor);
    position: absolute;
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
    opacity: 0;
}
.column_article::before{
    content: '';
    position: relative;
    width: 0vw;
    height: 0vh;
    top: -3vh;
    left: -2vw;
    border-top: 1px solid var(--fontcolor);
    border-left: 1px solid var(--fontcolor);
    position: absolute;
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
    opacity: 0;
}
/* columns pic */
.arti_pic{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.arti_pic img{
    width: 100%;
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
}
/* columns date */
.arti.date.right, .arti.date.left{
    color: var(--subcolordark);
    position: absolute;
    font-size: 30px;
    font-style: italic;
    z-index: 1;
    left: 75%;
    top: -3%;
}
.arti.date.left{
    color: var(--maincolor);
}
.column_article:hover img{
    transform: scale(1.07);
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
}
.title.column{
    font-size: 24px;
    padding: 20px 0;
}
/* columns 手機*/
@media screen and (max-width: 767px) {
    /* columns */
    .row.columns{
        display: block;
    }
    .column_article{
        padding-top: 40px;
        margin-top: 70px;
    }
    /* columns  deco line*/
    .column_article::after{
        bottom: -5vh;
        right: 2vw;
    }
    .column_article::before{
        top: -5vh;
        left: 1vw;
    }
    .arti.date.right, .arti.date.left{
        color: var(--subcolordark);
        position: absolute;
        font-size: 30px;
        font-style: italic;
        z-index: 100;
        left: 60%;
        top: 5%;
    }
    .arti.date.left{
        color: var(--maincolor);
    }
    /* columns txt*/
    .title.column{
        line-height: 2rem;
    }
}
/* columns 桌機*/
@media screen and (min-width: 768px) {
    /* columns*/
    .column_article.right{
        margin-top: 125px;
    }
}
/* 顏色 看看 */

:root{

    --maincolor: #598969;
    --subcolordark: #BCAB8A;
    --tagcolor: #F0A07C;
    --fontcolor: #6B6B6B;
   
}


/* 字級 start */
body, header, footer, div, nav, aside, p, span, a, h1, h2, h3, h4, ul, ol, li{
    color:var(--fontcolor);
    text-decoration: none;
    line-height: 1.25rem;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1{
    font-size: 52px;
    font-weight: 500;
    outline: 1px solid orange;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.2px;
    color: #346C47;
}
h1 span {
    font-size: 18px;
    letter-spacing: .6px;
    font-weight: 400;
    padding-top: 2rem;
    color: #8A7867;
}
h2{
    font-size: 40px;
    color: #598969;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
p, a, ul, ol, li,span{
    font-size: 18px;
    padding: 0;
    letter-spacing: .3px;
}
/* 通用字級 end */

/* 其他通用 stsrt */
a{
    display: inline-block;
}
 /* 背景色通用 */
body{
    background-color: var(--bgcolor);
}
/* 分欄通用 */
.container{
    outline: 1px solid pink;
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
    padding-top: 70px;
    padding-bottom: 30px;
}
.col_12, .col_md_12{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    width: 100%;
}
/* 手機 分欄通用 */
@media screen and (max-width: 767px) {
    .container{
        width: 100%;
        padding: 0px;
        padding-top: 40px;
    }
}


/* columns */
/* columns deco line */
.column_article{
    position: relative;
}
.column_article:hover::after, .column_article:hover::before {
    width: 48px;
    height: 48px;
    transition: .5s cubic-bezier(0.63, .57, 0.26, 0.99);
    opacity: 1;
}
.column_article::after{
    content: '';
    position: relative;
    width: 0vw;
    height: 0vh;
    bottom: -3vh;
    right: -1vw;
    /* border-bottom: 1px solid var(--fontcolor);
    border-right: 1px solid var(--fontcolor); */
    position: absolute;
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
    opacity: 0;
}
.column_article::before{
    content: '';
    position: relative;
    width: 0vw;
    height: 0vh;
    top: -3vh;
    left: -2vw;
    border-top: 1px solid var(--fontcolor);
    border-left: 1px solid var(--fontcolor);
    position: absolute;
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
    opacity: 0;
}
/* columns pic */
.arti_pic{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.arti_pic img{
    width: 100%;
    object-fit: cover;
    object-position: center center;

    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
}
/* columns date */
.arti.date.right, .arti.date.left{
    color: var(--subcolordark);
    position: absolute;
    font-size: 30px;
    font-weight: 4N00;
    z-index: 1;
    left: 78%;
    top: -3%;
}
.arti.date.left{
    color: var(--maincolor);
}
.column_article:hover img{
    transform: scale(1.07);
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
}
.title.column{
    font-size: 24px;
    padding: 20px 0;
}

 








@media screen and (max-width:767px) {
    .hb{
        width: 40px;
        height: 40px;
        background-color: #BCAB8A;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        /* outline: 1px solid #fa0; */
    }
    .nav-icon {
        display: block;
        align-items: center;
        right: 20px;
        /* outline: 1px solid #fa0; */
        position: absolute;
        right: 70px;


     }
    .main-nav{
        /* display: none; */
        position: absolute;
        background-color: rgb(215, 242, 205);
        width: 100%;
        left: -100%;
        top: 60px;
        z-index: 1;
        opacity: 0;
        transition: opacity 1s 0s,
                    left    0s 1s;
            
    }
    .hb span{
        width: 32px;
        height: 2px;
        background-color: #346C47;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(0deg);
        opacity: 1;
    }
    .hb span:nth-child(1){
        top: 7px;
        transition: transform 1s 0s, top 1s 1s;
    }
    .hb span:nth-child(2){
        top: 0;
        bottom: 0;
        transition: opacity 1s 2s;
    }
    .hb span:nth-child(3){
        top: 31px;
        transition: transform 1s 0s, top 1s 1s;
    }

    #menu-switch:checked + .header .main-nav{
        /* display: block; */
        left: 0;
        opacity: 1;
        transition: opacity 1s;
    }
    #menu-switch:checked + .header .hb span:nth-child(2){
        opacity: 0;
        transition: opacity 1s;
    }
    #menu-switch:checked + .header .hb span:nth-child(1){
        top: 19px;
        transform: rotate(45deg);
        transition: top 1s 0s, transform 1s 1s;
    }
    #menu-switch:checked + .header .hb span:nth-child(3){
        top: 19px;
        transform: rotate(-45deg);
        transition: top 1s 0s, transform 1s 1s;
    }

     /* columns */
     .row.columns{
        display: block;
    }
    .column_article{
        padding-top: 40px;
        margin-top: 70px;
    }
    /* columns  deco line*/
    .column_article::after{
        bottom: -5vh;
        right: 2vw;
    }
    .column_article::before{
        top: -5vh;
        left: 1vw;
    }
    .arti.date.right, .arti.date.left{
        color: var(--subcolordark);
        position: absolute;
        font-size: 30px;
        font-style: italic;
        z-index: 100;
        left: 60%;
        top: 5%;
    }
    .arti.date.left{
        color: var(--maincolor);
    }
    /* columns txt*/
    .title.column{
        line-height: 2rem;
    }
}

        



@media screen and (min-width: 768px){
    .hb { display: none;}
    .main-nav{
        display: flex;
        width: fit-content;
        margin: auto;
        font-size: 16px;
        font-weight: 600;
        gap: 32px;
        /* outline: 1px solid #fa0; */
        
    }
    .main-nav a {
        text-decoration:none;
        color: #BCAB8A;
    }

    .nav-icon {
    display: flex;
    align-items: center;
    right: 20px;
    /* outline: 1px solid #fa0; */
}

}